* {
	font-family: 'Open Sans', sans-serif;
	font-style: 20px;
	background-color: navyblue;
}

* {
	margin: 0;
	padding: 0;
}

form {
	background-color: black;
}

body {
	height: 100%;
	margin: 0;
}

#profile_image {
  border-radius: 100px;
  padding: 30px;
  width: 200px;
  height: 200px;
}

html {
  scroll-behavior: smooth;
}

#google_maps {
	width: 100%;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

iframe {
	width: 80%;
	height: 500px;
	filter: invert(100%);
	margin: 0;
	padding: 0;
}

.image-grid {
	--gap: 16px;
	--num-cols: 3;
	--row-height: 100px;
	
	box-sizing: border-box;
	padding: var(--gap);

	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-auto-rows: var(50px);
	gap: var(--gap);
}

.image-grid > img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

@media screen and (max-width:1024px) {
	.image-grid {
		--num-cols: 3;
		--row-height: 200px;
	}
}

#wd_profile {
	background-image: url(../images/background.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	height: 50vh;
	margin-left: 1rem;
	margin-right: 1rem;
	background-attachment: fixed;
}

#pre-footer {
	margin-top: 0.25rem;
	margin-bottom: 0.25rem;
}